.instructions {
    padding: 7px 80px 7px 80px;
}

#rules {
    font-size: 15px;
}

#status-prefix-1, #status-prefix-2 {
  font-weight: bold;
}

#name-set-1, #name-set-2 {
    padding: 7px 20px 7px 20px;
}

#player-1-status, #player-2-status {
    color: mediumorchid;
    font-weight: bold;
}

.text-left {
    position: relative;
    left: 25px;
}

#instruction-1 {
    position: relative;
    top: 15px;
}


.live-update-in {
  animation: 1s slide-left;
  width:100%;
  overflow:hidden;
}

.live-update-out {
    animation: 1s slide-right;
    width:100%;
    overflow:hidden;
}

/* Adapted from https://www.html.am/html-codes/marquees/css-slide-in-text.cfm */
@keyframes slide-left {
  from {
    margin-right: -100%;
    width: 300%; 
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

@keyframes slide-right {
    from {
      margin-left: 0%;
      width: 100%; 
    }
  
    to {
      margin-left: -200%;
      width: 300%;
    }
  }