.instructions {
    padding: 7px 80px 7px 80px;
}

#rules {
    font-size: 15px;
    position: relative;
    right: 15px;
}

#status-prefix-1, #status-prefix-2 {
    background-color: rgb(0,123,255);
    color: white;
    border-radius: 5px;
    padding: 7px 13px 7px 13px;
}

#player-1-status, #player-2-status {
    color: mediumorchid;
    font-weight: bold;
}

.text-left {
    position: relative;
    left: 45px;
}